<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= link_to 'Create Blog', new_user_post_path(current_user.id), class: 'btn btn-success' %>
      <div class='panel panel-default'>
        <ul class='list-group' id='contact-list'>
        <% @user.each do |u| %>
          <li class='list-group-item'>
            <%= image_tag u.avatar.thumb.url, size: '30', class: 'img-circle', alt: 'Avatar' if u.avatar?%>
            <%= u.name %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <% @post.each do |post| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <li class='media'>
            <div class='media-left'>
              <%= image_tag @user.find(post.user_id).avatar.thumb.url, size: '50', class: 'img-circle', alt: 'Avatar' if @user.find(post.user_id).avatar? %>
            </div>
            <div class='media-body'>
              <h4 class='media-heading'>
                <b><%= @user.find(post.user_id).name %></b>
                <br>
                <small class='text-muted'>
                  <em>posted <%= time_ago_in_words(post.created_at) %> ago. <span class='glyphicon glyphicon-time'></span></em>
                </small>
              </h4>
              <center><h4 class='text-uppercase'><%= post.title %></h4></center>
            </div>
            <div class='media-right'>
              <%= link_to 'more...', user_post_path(current_user, post), class: 'a-con' %>
            </div>
          </li>
          <br>
          <p class="lead text-justify">
            <%= post.body %><br></br>
            <div class='text-center'>
              <%= image_tag post.picture.url, class: 'img-thumbnail' if post.picture? %>
            </div>
          </p>
          <hr></hr>
          <div class="pull-left">
            <a><b>Like</b></a>  
            <a><b>Share</b></a>
          </div>
          <div class="pull-right">

          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <div class='panel panel-default'>
        <ul class='list-group' id='contact-list'>
        <% @user.each do |u| %>
          <li class='list-group-item'>
            <%= image_tag u.avatar.thumb.url, size: '30', class: 'img-circle', alt: 'Avatar' if u.avatar?%>
            <%= u.name %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
